
<header>
    <div class="page-name">
        <h1>{{displayText}}</h1>
    </div>
    <div class="icons">
        <a>
            <span class="icon"><i class="fa-solid fa-gear"></i></span>
        </a>
        <a>
            <span class="icon"><i class="fa-solid fa-bell"></i></span>
        </a>
    </div>
    <div class="profile">
        <img [src]="imageProfile" alt="">
        <div class="description">
            <span>Dominique</span>
            <span>Admin</span>
        </div>
    </div>
</header>