

<div class="container">
    <div class="menu">
        <div class="logo">
            <img src="/icam.jpg" alt="">
        </div>
        <div class="navigation">
            <ul>
                <li routerLink="/dashboard/board" routerLinkActive="active">
                    <a>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li routerLink="/dashboard/campus" routerLinkActive="active">
                    <a>
                        <span class="icon"><i class="fa-solid fa-hotel"></i></span>
                        <span class="title">Campus</span>
                    </a>
                </li>
                <li routerLink="/dashboard/voting" routerLinkActive="active">
                    <a>
                        <span class="icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
                        <span class="title">Voting</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>