
<div class="container">
    <div class="container-center">
        <div class="block1">
            <div class="title">
                <h2>Ice Box Challenge</h2>
            </div>
            <div class="content1 content">
                <div class="left side">
                    <span>
                        The "Ice Box Challenge" is an exciting and educational project taking place at the ICAM campus.
                        This challenge is designed to address the critical issues of global warming and environmental sustainability.
                        Participants are tasked with calculating the melting time of ice, leveraging their understanding of thermal transfer, conduction, convection systems, and thermodynamics.
                    </span>
                    <div class="global-pictures">
                        <img src="/global1.png" alt="">
                        <img src="/global2.png" alt="">
                        <img src="/global3.png" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="block3">
            <div class="title">
                <h2>Graphic summary</h2>
            </div>
            <div class="content3 content">
                <app-bar-pie/>
                <app-bar-chart/>
            </div>

        </div>
    </div>
</div>
    <div class="container-right">
        <div class="block4">
            <img class="picture-right" src="/Iceberg2.gif" alt="">
        </div>
        <div class="block5">
            <img class="picture-right" src="/Ice_melting.gif" alt="">
        </div>
    </div>