

.chart-container {
    //width: 280px;
    width: 280px;
    height: 300px;
    border-radius: 12px;
    margin-left: 20px;
    box-shadow: rgba(60, 66, 87, 0.08) 0px 5px 10px 0px,rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    background-color: white;
}